body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    
}

.header{
        color:aliceblue;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    } 
    
.btn{
    background: #fbe148;
    padding: 5px;
    border-radius: 6px;
}

#para {
      
        margin-top: 50px;
        margin-left: 40px;
        color: aliceblue; 
       
    }
.container{
    width: 100%;
    height: auto;
    display: flex;
    
}
.text{
    width: 100%;
    align-self : flex-end;
    color:aliceblue;
    display: flex;
    padding: 0%;
   margin-left: 0%;
   background-color: #7e7d7480;
   justify-content: space-around;
   
}
#logo{
    color: aliceblue;
    list-style-type: none;
    padding: 20px ;
    justify-content: space-evenly;
    max-width: 100%; 
}
.footer{
    color: aliceblue;
    margin-left: 3%;
}

#icons{
    color: aliceblue;
    background-color: #7e7d7480;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

}

img {
    display: inline-block;
    margin: 50px 50px;
}